.App {
  text-align: center;
}

nav{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 0px;
  min-height: "30vh";
  padding-top:5px ;
  padding-bottom: 10px ;
  padding-right: 25px;
  background: dimgrey;
  color: whitesmoke;
}

foot{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  font: small-caps bold 24px/1 sans-serif;
  min-height: "30vh";
  padding-top:5px ;
  padding-bottom: 10px ;
  background: gray;
  color: black;
}
footerL{
  display: list-item;
  justify-content: start;
  min-height: "10vh";
  padding-bottom: 10px;
  padding-top: 5px;
  padding-left: 20px;
  background: dimgrey;
  color: black;
  font: caption;
  border: blueviolet;
}
footerR{
  display: flex;
  justify-content: center;
  min-height: "10vh";
  background: dimgrey;
  
  color: black;
  font: caption;
  border: blueviolet;
}

.nav-links
{
  width: 60% ;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  list-style: none;
}
td {
  
 
}
table.scrolldown { 
  width: 100%; 
    
  /* border-collapse: collapse; */ 
  border-spacing: 0; 
  border: 2px solid black; 
} 

/* To display the block as level element */ 
table.scrolldown tbody, table.scrolldown thead { 
  display: block; 
}  

thead tr th { 
  height: 40px;  
  line-height: 40px; 
} 

table.scrolldown tbody { 
    
  /* Set the height of table body */ 
  height: 50px;  
    
  /* Set vertical scroll */ 
  overflow-y: auto; 
    
  /* Hide the horizontal scroll */ 
  overflow-x: hidden;  
} 

tbody {  
  border-top: 2px solid black; 
} 

tbody td, thead th { 
  width : 200px; 
  border-right: 2px solid black; 
} 
td { 
  text-align:center; 
} 