.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  min-height: 100vh;
}
.wrap{
  Flex:1;
}
.footer{
  margin-left: 80px;
  margin-right: 0em;
}

.foot{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  background: #80CBC4;
  color: rgb(12, 12, 12);

}
 .footerL{
  display: list-item;
  justify-content: start;
  min-height: "10vh";
  background: rgb(18, 131, 120);
  color: black; 
}
.footer ul,h5{
  margin-bottom: 0em;
}
.footerL ul li{
 
  padding-top: 5px;
  margin-top: auto;
  padding-left: 20px;
  background: rgb(18, 131, 120);
  color: black; 
}
.footerR{
  display: flex;
  justify-content: center;
  min-height: "10vh";
  background: rgb(18, 131, 120);;
  margin-top: auto;
  color: black;
  
}
.headerarea
{
  display: flex;
align-items: center; 
padding-top: 10vh;  
padding-left:200px;
text-align: center;
}
.choose-form{
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.mapsarea
{
 
align-items: center;
padding-top: 70px;
width: 100;
padding-left: 180px;

} 
 .chartsarea
 {
  display: flex;
  align-items: flex-start;
  padding-top: 100px;
  
  flex-wrap: wrap;
  width: 100;
  padding-left: 230px;
  padding-right: 100px;
 }

canvas{
  max-height: 600px; max-width: 800px;
  text-align:-webkit-center;
}

.newsContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.news{
  display: flex;
  width: '100%';
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

.page-numbers {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-numbers > li {
  margin-right: 0.5em;
  color: rgb(130, 199, 176);
  font-size: large;
  user-select: none;
  cursor: pointer;
}

.homearea
{
display: flex;
justify-content: space-around;
align-items: center;
padding-top: 10vh;
padding-left: 80px;
flex-wrap: wrap;
flex-direction: row;
width: 100;

}
 .distrarea
 {
  padding-left: 230px;
  padding-right: 100px;
  padding-top: 10vh;
 }
  
 @media only screen and (max-width:650px)
 {
  .chartsarea
  {
    padding-left: 60px;
    padding-right: 0vw;
    padding-top: 0vh;
   }
   .homearea,
   .mapsarea,.distrarea
   {
    padding-left: 60px;
    padding-right: 0vw;
    padding-top: 0vh;
   }
   canvas{
    max-height: 1000px;
    max-width: 650px;
    text-align: -webkit-center;

   }
   
   .nav-links
   {
    font-size: 1rem;
    margin-bottom: auto;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    margin-right: 0px;
    list-style: none;
   }
   .headerarea
   {
     display: flex;
     margin-top: 70px;
   align-items: center;   
   padding-left:20vw;
   text-align: center;
   }
   .footer
   {
     margin-left: 50px;
     margin-right: 0em;
   }
.foot{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  background: #80CBC4;
  color: rgb(12, 12, 12);
  
  /* margin-left: 60px; */
  margin-right: 0em;
  width: 100%;
}
 .footerL{
  display: flex-start;
  /* justify-content: start; */
  /* margin-left: 60px; */
  padding-bottom: 10px;
  padding-top: 5px;
  background: rgb(18, 131, 120);
  color: black;
  margin-left: 0;
  margin-right: 0em;
  width: 100%;
}
.footerR{
  display: flex;
  justify-content: center;
  background: rgb(18, 131, 120);;
  color: black;
  margin-right: 0em;
  width: 100%;
 
}
 }
