.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  min-height: 100vh;
}
.wrap{
  Flex:1;
}
html{
  scroll-behavior: smooth;
}
body::-webkit-scrollbar
{
  width: 0.25%;
}
body::-webkit-scrollbar-track
{
background: black;
}
body::-webkit-scrollbar-thumb
{
background:#80CBC4;
}
body div::-webkit-scrollbar{
  width: 0.25rem;
  height: 0.25rem;
}
body div::-webkit-scrollbar-thumb{
  background: #80CBC4;
}
body div::-webkit-scrollbar-track{
  background: black;
}
a{
  color: black;
  text-decoration: none;
}
a:hover
{
  color: black;
  text-decoration: none;
}

.nav-links
{
  font-size: 1.5rem;
  margin-bottom: auto;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  margin-right: 100px;
  list-style: none;
}


.foot{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  font-family: 'Roboto Slab', serif;

  
  background: #80CBC4;
  color: rgb(12, 12, 12);

}
 .footerL{
  display: list-item;
  justify-content: start;
  min-height: "10vh";
  padding-bottom: 10px;
  padding-top: 5px;
  margin-top: auto;
  padding-left: 20px;
  background: rgb(18, 131, 120);
  color: black;
  font: caption;
  
}
.footerR{
  display: flex;
  justify-content: center;
  min-height: "10vh";
  background: rgb(18, 131, 120);;
  margin-top: auto;
  color: black;
  font: caption;
  border: blueviolet;
}
.headerarea
{
  display: flex;
align-items: center;   
padding-left:200px;
text-align: center;
}
.choose-form{
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.mapsarea
{
 
align-items: center;
padding-top: 70px;
width: 100;
padding-left: 180px;

} 
 .chartsarea
 {
  display: flex;
  align-items: center;
  padding-top: 100px;
  
  flex-wrap: wrap;
  width: 100;
  padding-left: 230px;
  padding-right: 100px;
 }
 .aboutarea
{
 
display: flex;
align-items: center;
padding-top: 50px;
flex-wrap: wrap;
font-size: smaller;
flex-direction: row;
width: 100;
padding-left: 250px;
padding-right: 200px;
}
canvas{
  max-height: 600px; max-width: 800px;
  text-align:-webkit-center;
}
.homearea
{
display: flex;
justify-content: space-around;
align-items: center;
padding-top: 10vh;
padding-left: 80px;
flex-wrap: wrap;
flex-direction: row;
width: 100;

}
 .distrarea
 {
  padding-left: 230px;
  padding-right: 100px;
  padding-top: 10vh;
 }
  
 @media only screen and (max-width:800px)
 {
   .chartsarea,.aboutarea,.mapsarea,.distrarea,.homearea
   {
    padding-left: 10vw;
    padding-right: 0vw;
    padding-top: 0vh;
   }
   .nav-links
   {
    font-size: 1rem;
    margin-bottom: auto;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    margin-right: 0px;
    list-style: none;
   }
   .headerarea
   {
     display: flex;
   align-items: center;   
   padding-left:20vw;
   text-align: center;
   }
 }