@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  
}

.wrapper{
  width: 100%;
  height: 100%;
  z-index: 5;
}

.top_navbar{
  background: #80CBC4;
  height: 60px;
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 111;
}

.top_navbar .hamburger{
  width: 80px;
  background: #004D40;
  position: relative;
  font-size: 28px;
}

.top_navbar .hamburger .hamburger__inner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
  width: 40px;
  height: 20px;
}

.top_navbar .hamburger__inner > div{
  width: 30px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.top_navbar .hamburger div.two{
  top: 10px;
  width: 40px;
}

.top_navbar .hamburger div.three{
  top: 20px;
}

.top_navbar .menu{
  width: calc(100% - 80px);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.top_navbar .menu .logo{
  padding-left: 0em;
  background: url(corona.png) no-repeat 50% 50%;
  background-size: cover;
  width: 200px;
  height: 50px;

}

.top_navbar .menu .right_menu ul{
  display: flex;
}


.main_container .sidebar{
  position: fixed;
  top: 60px;
  left: 0;
  width: 225px;
  height: 100%;
  background: #004D40;
  transition: all 0.3s ease;
  z-index: 1;
}

.main_container .sidebar .sidebar__inner{
  position: relative;
}



.nav-links
{
  color: rgb(7, 97, 59);
  margin-left: 0em;
  justify-content: flex-end;
  display: flex;
  margin-right: 100px;
  list-style: none;
}
.nav-links a{

  font-size: 1.2rem;
  color: rgb(7, 97, 59);
  margin-bottom: 10px;
}
.nav-links a:hover{
  color: whitesmoke;
  
 }
 .nav-links a:active {
  color: whitesmoke;
  
 }

.main_container .sidebar ul li a{
  color: #fff;
  font-size: 18px;
  padding: 20px 30px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  margin-bottom: 1px;
  transition: all 0.3s ease;
}

.main_container .sidebar ul li a .icon{
  margin-right: 15px;
  font-size: 28px;
}

.main_container .sidebar ul li a span{
  display: inline-block;
}

.main_container .sidebar ul li a:hover,
.main_container .sidebar ul li a.active{
  background: #fff;
  color: #004D40;
}

/* after adding active class */
.wrapper.active .sidebar{
  width: 80px;
}

.wrapper.active .sidebar ul li a span.title,
.wrapper.active .profile_info
{
  display: none;
}


@media only screen and (max-width:650px)
{
  /* *{
    overflow: hidden;
  }
.top_navbar{
  overflow: hidden;
}  */
.nav-links .col-3
{
  flex: 0 0 100;
  max-width: 100%;
}
.nav-links
{
  font-size:1rem;
}
  .wrapper.active .sidebar{
    width: 50px;
  }
  .top_navbar .hamburger{
    width: 50px;
    background: #004D40;
    position: relative;
    font-size: 16px;
  }
  
  .top_navbar .hamburger .hamburger__inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    width: 30px;
    height: 30px;
  }
  
  .top_navbar .hamburger__inner > div{
    width: 20px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .top_navbar .hamburger div.two{
    top: 10px;
    width: 30px;
  }
  
  .top_navbar .hamburger div.three{
    top: 20px;
  }
  
  .top_navbar .menu{
    width: calc(100% - 60px);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px; 
  }
  
  .top_navbar .menu .logo{
    color: rgb(7, 97, 59);
    padding-left: 2px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-family: 'Roboto', sans-serif;
  }
  .top_navbar .menu .logo .col-6
  {
flex:0 0 100%;
max-width: 100%;
  }

  .main_container .sidebar{
    position: fixed;
    top: 60px;
    left: 0;
    width: 125px;
    height: 100%;
    background: #004D40;
    transition: all 0.3s ease;
    z-index: 1;
  }
  
  .main_container .sidebar .sidebar__inner{
    position: relative;
  }

  .main_container .sidebar ul li a{
    color: #fff;
    font-size: 14px;
    padding: 20px 20px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    margin-bottom: 1px;
    transition: all 0.3s ease;
  }
  
  .main_container .sidebar ul li a .icon{
    margin-right: 5px;
    font-size: 16px;
  }

 
    
}
